/* Theming */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap"); /* import font */
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@200;400&display=swap');

:root{
    --max-content: 660px;
    --background: #F0F2F5;
    --white: #f9f9f9;
    --black: #36383F;
    --gray: #636669;
} /* variables*/

/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Source Serif Pro", sans-serif;
}
a{
    text-decoration: none;
}

ul{
    list-style: none;
}

pre {
    overflow: auto;
    font-family: "Source Serif Pro", sans-serif;
    font-size: 1.25em;
}

/* Hide scrollbar for Chrome, Safari and Opera */
pre::-webkit-scrollbar {
    display: none;
  }
  
/* Hide scrollbar for IE, Edge and Firefox */
pre {
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}

p {
    margin-top: 20px;
    font-size: 20px;
    word-break: break-word;
}




a:link           { color: rgb(1, 2, 94) }  /* unvisited links       */
a:visited        { color: rgb(1, 2, 94) }          
a:hover, a:focus { color: #00c }  /* user hovers, or focus */
a:active         { color: #ccc }  /* active links          */

@media screen and (min-width: 801px) {
    p {
        font-size: 18px;
    }
}
