---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Spiritual Trickster">
    <main>
        <article>
            <h1>Welcome to My Domain</h1>

            <p>
                Hello, welcome to my website, Spiritual Trickster. This is my space to share my poetry,
                my personal life, little stories, pontification, philosophy, and generally speaking be an exhibitionist on the internet.
                Here, my soul wears a fig leaf, I am trying to show you as much as I feel comfortable with. My goal is to progressively become as shameless as possible.
                I don't care much, but I still care a little. I still have things to hide. But I hope to put an end to that here, in time.
                But I will continue to think and talk the way I do, because it is what I have cultivated so far in my confused life, it is what I know.
                It is only that I am self aware about it now. Plus, all the power resides with the Fool, the one who has fooled themselves,
                because they pull off the act, and other people mistake their delusions for something greater.
                Mistake the feelings and will of another for the highest authority.
            </p>
        <p>
          This place is messy, because I am messy. I am always scattered, disconnected. I am always trying to put myself together.
          But the center doesn't hold. I don't know where it is. I'm not sure it even exists.
          But I like it that way. It's a game, trying to be whole - and if I ever got there, the game would be over.
          So I like to make it confusing, I like to make it complicated. Much of this is not the story of someone "uncovering the nature of reality"
          but the story of someone trying to understand themselves by mistaking themselves for the world.
          To project onto others, what's outside, and realize you have only really been learning about yourself.
          To mistake your will for the will of "the people," "the truth," of "God." To universalize yourself. (*Myself.)
          But it is simply more fun to talk like you are describing the universal human condition,
          the progression towards a universal ideal, the discovery of the nature of reality,
          than it is to simply express your opinion. To simply say "I feel." So I will keep doing it. It is more fun to deify,
          to demonize, to characterize, to project. And it is more powerful, because you turn you subjective perspective into something much greater than it is.
        </p>
            <p>
            </p>
        <p>
          And so I will not add a million qualifiers to every little thing I say, to make it clear that it is just my perspective.
          I expect the reader to be intelligent,  to not simply fall for my deceptive language.
          I will speak, and I will speak in the manner I enjoy.
          Because I would rather live in a self-conscious delusion and allow idiots to get sucked into seeing my perspective as reality than perpetually moderate my speech.
          Deception is in the very form of our language itself - words are, in their very nature, misleading.
          I don't care what evils people commit in the name of my illusions. Ok, I do, I will try to be careful. 
          But I won't let it stop me from speaking in the manner of my chosing.
          It's not my fault they don't understand that every word comes out of the mouth of the speaker, every letter from the pen of the author, and no one else.
          Because the truth is that all this time I have just been trying to figure out what is going on - I didn't know falsehood was flowing from my every expression.
          Every one of us is a narcissistic liar. We fool others by fooling ourselves. 
          And when those who are still on their foolish journeys realize they have been tricked, they will probably hate me.
          They will probably resent being misled. They will probably see me as a cynical manipulator, a snake oil salesman, a charlatan.
          But slowly, they will realize that they enjoyed the ride, that they loved living in my fantasy.
        </p>
        <p>
          The sad truth is, it's almost impossible to convince someone that that is what they are - a narcissistic fool.
          It is too much for their pride. And until they learn, all you can do is lie to them, because they can't see that our language, our every word is incomplete.
          Words are useful precisely because they flatten, because they reduce, because they sever and separate,
          and most importantly because they imply elements of the relationship between the speaker and what is spoken.
          The severing of the writer from the written is precisely what makes language useful - words conceal out of necessity.
          You have to send them out in the world, they escape your mind, and they will not mean to someone else what they meant to you.
          And until they understand, all you can do is tell them harmless lies - but no lie is truly harmless.
          And so you move through the world, sowing the seeds of folly, because your very appearance conceals the truth.
        </p>
        <p>
          So won't you join me, in my fantasy, my delusion? My distorted hall of mirrors?
          This time, we know what we are getting ourselves into, and that we can never truly get out.
          This time, we will understand the nature of the game, and we will be able to enjoy it.
          That's the beauty of it - knowing that you don't know doesn't mean you know.
          Ignorance is bliss, and lucky for us, it's our fundamental condition.
          Once you've gone as far as you can go, once you've duck taped everything you know together into the best model you could come up with,
          the only thing left to do is hop in, go for a ride, and brace yourself for impact.
          We are the crash test dummies of our own fabrications.
          But that's all we can do - get up, pick up the peices, and make something new, something better. 
          And we should build it together. Because together we get closer to the truth.
        </p>
            <p>
          But that's NOT what this place is for. This place is MINE. I'll go out into the world and be quiet, listen, and serve the people I love.
          But here, I speak. These are my words. And you can come and read, if you want to see me on my soap box. Lalalalala, I can't hear you!
          That's right bitch, yell at the screen all you want, this is a WEBSITE. This is NOT a democracy. This is my little autocracy, my kingdom.
          Your curiosity is your own. I didn't kill your cat, and I won't kill you.
            </p>
    
        <h1>The Contract</h1>
    
        <p>
          Know that by entering, you are stepping into the pornographic theater of my soul.
          This is my spiritual, intellectual exhibitionism.
          If you come in here, and feel as if you are a parent who has walked in on their child masturbating,
          know that I have already put a sign up on the door saying, "I AM MASTURBATING, TAKE A PEEK IF YOU WANT." 
        </p>
        <p>
          That is not to say that this site is full of sexual content - there is almost none.
          But there is plenty of obscenity - this is my place to share every thought that pops into my head,
          the ones you always withhold in casual conversation because they are simply not appropriate to the circumstance.
          I would go as far as to say as it would be morally wrong to simply impose them on a conversation.
          Not only because they are inappropriate, but also because they are convoluted and boring.
          You know the guy who interjects to try and articulate their idea,
          stumbles through an incoherent web of associations for five minutes after finally going, "yeah, it's kinda complicated, 
         I can't really go into the whole thing right now, it would take a while," and then doesn't even have the decency to apologize.
         This is more offensive than cracking some vulgar little joke.
         You have stolen five minutes of their life from them. 
         You have squandered their precious time on this Earth.
         But by coming here and clicking the links, you choose to squander your own time.
         You have no one to blame but yourself. I am not responsible for your poor decisions, so don't try to contact me saying,
         "how dare you write this, how dare you rape my eyes with this obscenity?"
        </p>
        <p>
          You are the one who looked at the link and felt intrigued, and then clicked on it.
          I can't tell you exactly what is waiting for you behind the link without just telling you the whole thing.
          I am trying my best NOT to deceive you, when it comes to the relationship between title and content.
          I try my best to choose titles which evoke the essence of the text -
          I'm not trying to ensnare you by giving it a title that gives you no context as to what it's about and then exposing you to some obscene image.
          (WARNING: it is your choice to continue reading the next sentence.)
          Like, for example, an article titled, "10 of the most ADORABLE Chihuahuas you will ever see!"
          and when you click on it an image of a filthy obese man in an old barn sucking a horses cock immediately loads at the top of the screen.
          I would certainly be morally responsible for misleading you in such a way.
        </p>
        <p>
          But I won't do that here. You consent to what you see knowing that I have done my best to inform you of what is waiting for you.
          And perhaps you will even feel violated by the titles themselves. But what am I supposed to do??? How can I warn you without giving the content a title?
          So if you don't want to read the titles of the content, if you feel that you might be violated even by this imposition,
          do NOT click on any of the section headers, where the list of titles are waiting for you.
        </p>
        <p>
          There. I have done my best to establish a totally fair, clearly articulated social contract between author and reader.
          By proceeding you are consenting that I am henceforth cleared of all culpability for what you are about to experience. You are now free to indulge yourself.
          Just know that you are stepping into Satan's lair. Lucifer's sanctum.
          I am the antichrist. But, if you think about it, the antichrist is supposed to be deceptive,
          posing as an authentic authority, pulling the strings behind the scenes.
          But here I am, being totally honest, telling you exactly what I am doing.
          So, therefore, I cannot be the antichrist. I am just some self important asshole.
          I am like a guy who puts up a projector and tries to scare you with shadow puppets.
          I am making a big deal out of nothing. You have no reason to fear the deformed duck I have created by smushing my fingers together funny.
          My pitchfork is just me holding up three fingers.
          You are a big boy or girl, you can smell bullshit when you see it. Have no fear. God will sheild you from my corrupting influence.
        </p>
        <p>
          As Dante would have said, the only way out is through. The only way to Heaven is venturing to the frozen tundra of the ninth circle Hell,
          climbing down Satan's leg, right past his massive dong, where Geryon is waiting to deliver you. I am your demented Virgil.
          I am your demon and your guide through Hell rolled into one. But not really, I'm just a guy putting his thoughts out there.
          Hope you enjoy the ride. I hope you make it to paradise, or at least purgatory. Actually, I think its best to be somewhere in the middle.
          I like it right here.
        </p>
    
        </article>
    </main>
</Layout>

<style>
</style>
