---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Mobile Warning">
    <h1>
        A Warning for Viewing on Mobile
    </h1>
    <p>
        Poetry is a style of writing that relies on the visual appearance of the words on the page (or the screen). What words appear on the same line together
        is the intentional choice of the author and important to how it appears aesthetically. Typical writing such as news articles, essays, stories, etc don't have this problem. 
        It doesn't really matter what word appears on what line, only that they stay together in their intended paragraphs/blocks.
        Because of this feature of poetry as a medium, poetry generally doesn't really work on mobile devices. You can export it as an image instead of as HTML text
        so that it always appears arranged as intented, but then the text might be very tiny if there are lines that are very long, and the reader can't copy paste.
        (Feel free to shamelessy copy me, but know that God, Karma, and Santa Claus are watching, and there <i>will</i> be consequences if you don't cite me.)
        I'm obviously not going to hide this section when viewing on mobile devices, that would just be silly, but I have to pick one shitty compromise or another,
        and the one I've chosen is to keep the formatting and let you sidescroll when the screen is too small. There is no visible scrollbar, because I think is ugly af,
        but just know that if a line is cut off you can scroll to the side.
    </p>
</Layout>