---
import Layout from "../layouts/Layout.astro";
import ListContent from "../components/ListContent.astro";
let allPoems = await Astro.glob('./poetry/*.md');
---

<Layout title="Poetry">
    <h1>Poetry</h1>
    <div class="warning-container">
        <a class="mobile-warning" href="/mobile_warning">Viewing on Mobile: A Warning</a>
    </div>
    <ListContent content={allPoems}/>
</Layout>
<style>
    h1 {
        margin-bottom: 4px;
    }

    .mobile-warning {
        font-size: 1.2em;
        margin-bottom: 1000px;
    }

    .mobile-warning:link,:visited {
        color: rgb(0, 66, 209);
    }

    .warning-container {
        margin-bottom: 40px;
    }
</style>